.venv/
.venv_app/
__pycache__/
*.pyc

# Dados e arquivos pesados
ia_lichia/logs/
ia_lichia/dataset/
ia_lichia/frames/

# Modelo treinado
*.keras

# Variáveis de ambiente
.env

# Outros
.streamlit/secrets.toml